# Dataset and feature files
files/datasets/
files/features/

lamp_preds/

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Slurm files
*.slurm

# Error and output files
*.err
*.out

.python-version