AP_Bots.egg-info/dependency_links.txt
AP_Bots.egg-info/PKG-INFO
AP_Bots.egg-info/SOURCES.txt
AP_Bots.egg-info/top_level.txt

# Dataset and feature files
AP_Bots/files/datasets/
AP_Bots/files/features/

AP_Bots/lamp_preds/

# VectorDB
AP_Bots/app/db
AP_Bots/app/test_db.py

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Slurm files
*.slurm

# Error and output files
*.err
*.out